<footer>
    <section id="newsletter">
        <h2>Suscríbete a nuestra Newsletter para estar al día de las últimas novedades y descuentos</h2>
        <form action="#" method="POST">
            <label for="nomb">Nombre</label>
            <input type="text" id="nomb" name="nombre" placeholder="Nombre">
            <label for="email">Email</label>
            <input type="text" id="email" name="correo" placeholder="correo@correo.com">
            <button type="submit" name="newsletter">Suscribirme</button>
        </form>
    </section>
    <section id="social">
        <p>Nuestras redes sociales</p>
        <div>
            <a href="#"><i class="fa-brands fa-facebook" title="Facebook"></i></a></i>
            <a href="#"><i class="fa-brands fa-square-x-twitter" title="Twitter"></i></a></i>
            <a href="#"><i class="fa-brands fa-instagram" title="Instagram"></i></a></i>
            <a href="#"><i class="fa-brands fa-youtube" title="Youtube"></i></a></i>
        </div>
    </section>

    <section id="info">
        <div>
            <ul>
                <li><a href="#">Política de devolución y envío</a></li>
                <li><a href="#">Atención al cliente</a></li>
                <li><a href="../contacto.php">Contacto</a></li>
                <li><a href="#">FAQs</a></li>
            </ul>
        </div>
        <div>
            <h2><em><a href="../templates/index.php">CheapShop</a></em></h2>
        </div>

        <div>
            <ul>
                <li><a href="#">Aviso legal</a></li>
                <li><a href="#">Política de privacidad</a></li>
                <li><a href="#">Políticas de cookies</a></li>
                <li><a href="#">Política de calidad</a></li>
            </ul>
        </div>
    </section>
    <section id="copy">
        <p>&copy; 2023 CheapShop | Todos los derechos reservados.</p>
    </section>

</footer>