<aside id="lateralBar">
    <p><strong>Categorias</strong></p>
    <ul id="mainCategoryList">
        <li><i class="fa-solid fa-desktop"></i><a href="./categorias.php">Monitores</a><i class="fa-solid fa-chevron-right"></i>
            <ul class="subcategory">
                <li><a href="./categorias.php">Monitores gaming</a></li>
                <li><a href="./categorias.php">Monitores OLED</a></li>
                <li><a href="./categorias.php">Monitores LED</a></li>
            </ul>
        </li>
        <li><i class="fa-solid fa-computer"></i><a href="./categorias.php">Torres</a><i class="fa-solid fa-chevron-right"></i>
            <ul class="subcategory">
                <li><a href="./categorias.php">Torres clásicas</a></li>
                <li><a href="./categorias.php">Torres gama alta</a></li>
                <li><a href="./categorias.php">Torres oficina</a></li>
            </ul>
        </li>
        <li><i class="fa-solid fa-chair"></i><a href="./categorias.php">Sillas</a><i class="fa-solid fa-chevron-right"></i>
            <ul class="subcategory">
                <li><a href="./categorias.php">Sillas gaming</a></li>
                <li><a href="./categorias.php">Sillas ergonómicas</a></li>
                <li><a href="./categorias.php">Sillas regulables</a></li>
            </ul>
        </li>
        <li><i class="fa-solid fa-mobile-screen-button"></i><a href="./categorias.php">Reacondicionados</a><i class="fa-solid fa-chevron-right"></i>
            <ul class="subcategory">
                <li><a href="./categorias.php">Móviles</a></li>
                <li><a href="./categorias.php">Tablets</a></li>
                <li><a href="./categorias.php">Consolas</a></li>
            </ul>
        </li>
        <li><i class="fa-solid fa-ethernet"></i><a href="./categorias.php">Conectividad</a><i class="fa-solid fa-chevron-right"></i>
            <ul class="subcategory">
                <li><a href="./categorias.php">Audio</a></li>
                <li><a href="./categorias.php">Vídeo</a></li>
                <li><a href="./categorias.php">Otros</a></li>
            </ul>
        </li>
        <li><i class="fa-regular fa-keyboard"></i><a href="./categorias.php">Teclados y ratones</a><i class="fa-solid fa-chevron-right"></i>
            <ul class="subcategory">
                <li><a href="./categorias.php">Teclados</a></li>
                <li><a href="./categorias.php">Ratones</a></li>
                <li><a href="./categorias.php">Alfombrillas</a></li>
            </ul>
        </li>
        <li><i class="fa-solid fa-microchip"></i><a href="./categorias.php">Componentes</a><i class="fa-solid fa-chevron-right"></i>
            <ul class="subcategory">
                <li><a href="./categorias.php">Tarjetas gráficas</a></li>
                <li><a href="./categorias.php">Procesadores</a></li>
                <li><a href="./categorias.php">Placas base</a></li>
            </ul>
        </li>
        <li><i class="fa-solid fa-laptop"></i><a href="./categorias.php">Portátiles</a><i class="fa-solid fa-chevron-right"></i>
            <ul class="subcategory">
                <li><a href="./categorias.php">Portátiles gaming</a></li>
                <li><a href="./categorias.php">Portátiles oficina</a></li>
                <li><a href="./categorias.php">MacBook</a></li>
            </ul>
        </li>
        <li><i class="fa-solid fa-headphones"></i><a href="./categorias.php">Audio</a><i class="fa-solid fa-chevron-right"></i>
            <ul class="subcategory">
                <li><a href="./categorias.php">Altavoces</a></li>
                <li><a href="./categorias.php">HiFi</a></li>
                <li><a href="./categorias.php">Auriculares</a></li>
            </ul>
        </li>
    </ul>
</aside>